@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBFBFB;
  --soft-grey: #DFDFDF;
  --grey: #445964;
  --dark-grey: #263138;
  --card-shadow: 0 8px 30px rgb(0,0,0,0.12);
}

button, a {
  @apply focus:border-black focus:outline-none focus:ring-2 focus:ring-black;
}

body {
  background: var(--background);
}